<div class="profile-card">
  <div class="profile-picture">
    <% if user.profile.photo? %>
      <%= cl_image_tag user.profile.photo.path, class: 'avatar-extra-large' %>
    <% else %>
      <%= image_tag('anonymous.png', class: 'avatar-extra-large') %>
    <% end %>
  </div>
  <div class="profile-content">
    <h4><%= user.first_name %> <%= user.last_name %></h4>
    <p><%= user.profile.description %></p>
  </div>
  <div class="profile-reviews">
    <div class="profile-communities">
    <% user.memberships.where(status: "member").limit(3).each do |membership| %>
      <%= link_to community_path(membership.community) do %>
        <% if membership.community.photo? %>
          <%= cl_image_tag(membership.community.photo.path, height: 40, width: 40, crop: :fit) %>
        <% end %>
      <% end %>
    <% end %>
    </div>
    <% if current_user == user %>
    <div class="add-community">
      <%= link_to communities_path do %>
      <%= t '.add_community' %>
      <% end %>
    </div>
    <% end %>
    <div class="profile-rating">
    <% user.average_rating.times do %>
      <i class="fa fa-star yellow" aria-hidden="true"></i>
    <% end %>
    <% (5 - user.average_rating).times do %>
      <i class="fa fa-star" aria-hidden="true"></i>
    <% end %>
    </div>
    <div class="profile-evaluations">
      <p><em><%= user.reviews.count %> avis</em></p>
    </div>
  </div>
  <% if private_profile %>
    <div class="edit-profile">
      <%= link_to edit_profile_path(current_user.profile) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
</div>
