<div class="col-xs-12">
  <div class="meeting-card" id="meeting-card-<%= meeting.id %>">
    <div class="user-picture">
      <%= link_to profile_path(meeting.helper) do %>
        <% if meeting.helper.profile.photo? %>
          <%= cl_image_tag meeting.helper.profile.photo.path, class: 'avatar-large' %>
        <% end %>
      <% end %>
    </div>
    <div class="content-meeting">
      <p><%= meeting.helper.first_name %> vous aide en <%= meeting.user_competency.competency.name %></p>
    </div>
    <% if meeting.status == "pending_approval" %>
      <div class="action-meeting">
        <%= simple_form_for meeting, html: { class: 'form-inline' }, remote: true do |f| %>
          <%= f.hidden_field :status, value: "cancelled" %>
          <%= f.submit :button, value: "Annuler", class: 'btn btn-danger', data: { confirm: "Etes-vous sûr de vouloir annuler ce meeting ?" } %>
        <% end %>
      </div>
    <% elsif meeting.status == "accepted" %>
      <div class="action-meeting">
        <strong><%= meeting.date.strftime("%d/%m/%y") %> - <%= meeting.duration %>h</strong>&nbsp;
      </div>
      <div class="action-meeting">
        <%= simple_form_for meeting, html: { class: 'form-inline' }, remote: true do |f| %>
          <%= f.hidden_field :status, value: "cancelled" %>
          <%= f.submit :button, value: "Annuler", class: 'btn btn-danger', data: { confirm: "Etes-vous sûr de vouloir annuler ce meeting ?" } %>
        <% end %>
      </div>
    <% elsif meeting.status == "pending review" %>
      <div class="action-meeting">

      </div>
    <% end %>
  </div>
</div>
