<div class="col-xs-12">
  <div class="meeting-card" id="meeting-card-<%= meeting.id %>">
    <div class="user-picture">
      <%= link_to profile_path(meeting.helper) do %>
        <% if meeting.helper.profile.photo? %>
          <%= cl_image_tag meeting.helper.profile.photo.path, class: 'avatar-large' %>
        <% end %>
      <% end %>
    </div>
    <div class="arrow-meeting">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>
    <div class="user-picture">
      <%= link_to profile_path(meeting.helper) do %>
        <% if meeting.helpee.profile.photo? %>
          <%= cl_image_tag meeting.helpee.profile.photo.path, class: 'avatar-large' %>
        <% end %>
      <% end %>
    </div>
    <div class="content-meeting">
      <p><%= meeting.user_competency.competency.name %></p>
    </div>
    <% if meeting.status == "pending_approval" %>
      <% if meeting.helper == current_user %>
      <div class="action-meeting">
        <%= simple_form_for meeting, html: { class: 'form-inline' }, remote: true do |f| %>
          <%= f.input :date, as: :string, label: false, required: true, input_html: { class: 'datepicker-input' }, placeholder: "Date" %>
          <%= f.input :duration, label: false, required: true, placeholder: "Durée" %>
          <%= f.hidden_field :status, value: "accepted" %>
          <%= f.submit :button, value: "Accepter", class: 'btn btn-success' %>
        <% end %>
      </div>
      <div class="action-meeting">
        <%= simple_form_for meeting, html: { class: 'form-inline' }, remote: true do |f| %>
          <%= f.hidden_field :status, value: "refused" %>
          <%= f.submit :button, value: "Refuser", class: 'btn btn-danger', data: { confirm: "Etes-vous sûr de vouloir annuler ce meeting ?" } %>
        <% end %>
      </div>
      <% else %>
        <div class="action-meeting">
          <%= simple_form_for meeting, html: { class: 'form-inline' }, remote: true do |f| %>
            <%= f.hidden_field :status, value: "cancelled" %>
            <%= f.submit :button, value: "Annuler", class: 'btn btn-danger', data: { confirm: "Etes-vous sûr de vouloir annuler ce meeting ?" } %>
          <% end %>
        </div>
      <% end %>
    <% elsif meeting.status == "accepted" %>
      <div class="add-to-calendar">
        <span class="addtocalendar atc-style-icon atc-style-menu-wb" data-calendars="iCalendar, Google Calendar, Outlook">
          <i class="fa fa-calendar-plus-o atcb-link" aria-hidden="true"></i>
          <var class="atc_event">
              <var class="atc_date_start"><%= meeting.date %></var>
              <var class="atc_date_end"><%= meeting.date + meeting.duration.hours %></var>
              <var class="atc_timezone">Europe/Paris</var>
              <var class="atc_location">Paris</var>
              <var class="atc_title">SYKE meeting <%= meeting.helper.first_name %> / <%= meeting.helpee.first_name %></var>
              <var class="atc_description"><%= meeting.duration%>h d'échanges : <%= meeting.user_competency.competency.name%></var>
              <var class="atc_organizer"><%= meeting.helper.first_name %></var>
              <var class="atc_organizer_email"><%= meeting.helper.email %></var>
          </var>
        </span>
      </div>
      <div class="action-meeting">
        <%= simple_form_for meeting, html: { class: 'form-inline' }, defaults: {disabled: (true if current_user == meeting.helpee)} , remote: true do |f| %>
          <%= f.input :date, as: :string, label: false, required: true, input_html: { class: 'datepicker-input' }, placeholder: "Date" %>
          <%= f.input :duration, label: false, required: true, placeholder: "Durée" %>
          <%= f.hidden_field :status, value: "accepted" %>
          <%= f.submit :button, value: "Changer", class: 'btn btn-warning', disabled: (true if current_user == meeting.helpee) %>
        <% end %>
      </div>
      <div class="action-meeting">
        <%= simple_form_for meeting, html: { class: 'form-inline' }, remote: true do |f| %>
          <%= f.hidden_field :status, value: "cancelled" %>
          <%= f.submit :button, value: "Annuler", class: 'btn btn-danger', data: { confirm: "Etes-vous sûr de vouloir annuler ce meeting ?" } %>
        <% end %>
      </div>
    <% elsif %>


    <% else %>
    <% end %>
  </div>
</div>
