<div class="col-xs-12">
  <div class="meeting-card" id="meeting-card-<%= meeting.id %>">
    <div class="user-picture">
      <% if meeting.helper.profile.photo? %>
        <%= cl_image_tag meeting.helper.profile.photo.path, class: 'avatar-large' %>
      <% end %>
      <br><%= meeting.helper.first_name %>
    </div>
    <div class="content">
      <p>aide</p>
    </div>
    <div class="user-picture">
      <% if meeting.helpee.profile.photo? %>
        <%= cl_image_tag meeting.helpee.profile.photo.path, class: 'avatar-large' %>
      <% end %>
      <br><%= meeting.helpee.first_name %>
    </div>
    <div class="content-meeting">
      <h4><%= meeting.user_competency.competency.name %></h4>
    </div>
    <div class="action-meeting">

    </div>
  </div>
</div>
