<div class="container">
  <div class="row">
    <h3><%= t '.pending_approval', count: @pending_meetings.length  %></h3>
    <div id="pending_approval">
      <% @pending_meetings.each do |meeting| %>
        <%= render 'meeting_card', meeting: meeting %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h3><%= t '.agenda', count: @agenda_meetings.length %></h3>
    <div id="accepted">
      <% @agenda_meetings.each do |meeting| %>
        <%= render 'meeting_card', meeting: meeting %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h3><%= t '.pending_review', count: @pending_review_meetings.length %></h3>
    <div id="pending_review">
      <% @pending_review_meetings.each do |meeting| %>
        <%= render 'meeting_card', meeting: meeting %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h3><%= t '.finished', count: @finished_meetings.length %></h3>
    <div id="finished">
      <% @finished_meetings.each do |meeting| %>
        <%= render 'meeting_card', meeting: meeting %>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>

    (function () {
      if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
      if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
          var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
          s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
          s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
          var h = d[g]('body')[0];h.appendChild(s); }})();

    $(document).ready(function(){

      $('.content-meeting').click(function(e){
        var number = $(this).parent().attr('id').match(/\d+/)[0];
        var locale = "<%= I18n.locale %>";
        $.ajax({
          type: "GET",
          url: "meetings/" + number + "/messages",
          success: function(data) {
            $('#myModal').modal('show');
          }
        });
      });

      $('.button-review').click(function(e){
        e.preventDefault();
        var number = $(this).parent().parent().attr('id').match(/\d+/)[0];
        $.ajax({
          type: "GET",
          url: "meetings/" + number + "/reviews/new",
          success: function(data) {
            $('#myModal').modal('show');
          }
        });
      });

      $('#myModal').on('shown.bs.modal', function () {
        if ($('.chatbox').length){
          $('.chatbox').stop().animate({
            scrollTop: $('.chatbox')[0].scrollHeight
          }, 1200);
        }
      });

      $('.datetimepicker').each(function(){
        $(this).datetimepicker({
          stepping: 30,
          format: "YYYY-MM-DD HH:mm",
          minDate: new Date(),
          sideBySide: true,
          showTodayButton: true,
          showClear: true,
          showClose: true,
          useCurrent: false
        });
      });
    });
  </script>
<% end %>
