<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('background-alumni.jpg') %>);">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <%= link_to edit_profile_path(current_user), id: "home-link-card" do %>
          <div class="home-card">
          <i class="fa fa-user" aria-hidden="true"></i>
          <h3>Complétez votre profil</h3>
          <div class="home-badge">
            <i class="fa fa-check-circle <%= current_user.profile.complete? ? "green-check" : "yellow-check" %>" aria-hidden="true"></i>
          </div>
          </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-3">
          <%= link_to profile_path(current_user), id: "home-link-card" do %>
          <div class="home-card">
          <i class="fa fa-cog fa-spin" aria-hidden="true"></i>
          <h3>Ajoutez des compétences</h3>
          <div class="home-badge">
            <i class="fa fa-check-circle <%= case current_user.user_competencies.count; when 0; "red-check"; when 1; "yellow-check"; else "green-check"; end; %>" aria-hidden="true"></i>
          </div>
          </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-3">
          <%= link_to profile_path(current_user), id: "home-link-card" do %>
          <div class="home-card">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <h3>Complétez-les de vos expériences</h3>
          <div class="home-badge">
            <i class="fa fa-check-circle <%= case current_user.experiences.count; when 0; "red-check"; when 1; "yellow-check"; else "green-check"; end; %>" aria-hidden="true"></i>
          </div>
          </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-3">
          <%= link_to communities_path, id: "home-link-card" do %>
          <div class="home-card">
          <i class="fa fa-users" aria-hidden="true"></i>
          <h3>Rejoignez vos communautés !</h3>
          <div class="home-badge">
            <i class="fa fa-check-circle <%= current_user.memberships.where(status: "member").count == 0 ? "red-check" : "green-check" %>" aria-hidden="true"></i>
          </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="dashboard">
          <div class="col-xs-12 col-md-6 content">
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-clock-o" aria-hidden="true"></i> Votre crédit d'heures : <%= current_user.profile.total_time_credit %>h
              </li>
              <li>
                <i class="fa fa-envelope-o" aria-hidden="true"></i> Nouveaux messages : <%= current_user.received_messages.where(status: "new").count %>
              </li>
              <li>
                <i class="fa fa-comments-o" aria-hidden="true"></i> Discussions en cours : <%= current_user.pending_meetings_nb %>
              </li>
              <li>
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Prochain échange confirmé : <%= current_user.next_meeting.nil? ? "Aucun" : I18n.localize(current_user.next_meeting.date, format: '%a %e %B, %H:%M')  %>
              </li>
              <li>
                <i class="fa fa-star-o" aria-hidden="true"></i> Evaluations en attente : <%= current_user.helpee_meetings.where(status: "pending_review").count %>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-6 content">
            <%= link_to "Accéder à mon tableau de bord", meetings_path, class: "btn btn-success" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Je cherche du support et des compétences dans mon réseau</h3>
          <%= link_to "Trouver des compétences", user_competencies_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>





<% content_for :after_js do %>
  <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('#alert').slideUp(300, function(){
          $(this).remove();
        });
      }, 2000);
     })
  </script>
<% end %>
