<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('background-alumni.jpg') %>);">
  <div class="banner-content">
    <h1><%= t('home.welcome') %></h1>
    <p><%= t('home.pitch') %></p>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      <%= t('home.connect') %>
    </button>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Connectez-vous ou inscrivez-vous</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.error_notification %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
      <div class="modal-footer">
        <div class="form-actions">
          <button type="button" class="btn btn-primary modal-button" data-dismiss="modal">Fermer</button>
          <%= f.button :submit, "Se connecter", class: "btn btn-success modal-button" %>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "S'inscire", new_registration_path(resource_name), class: "btn btn-warning modal-button" %>
        <% end -%>
        </div>
      <% end %>

          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "J'ai oublié mon mot de passe", new_password_path(resource_name) %><br />
          <% end -%>

          <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
          <% end -%>

          <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
            <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
          <% end -%>

          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
            <% end -%>
          <% end -%>
      </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script type="text/javascript">

  </script>
<% end %>
