<div id="error-messages">
</div>
<%= simple_form_for(user_competency, remote: true) do |f| %>
  <%= f.input :competency_id, collection: Competency.parent_competencies, as: :grouped_select, group_method: :child_competencies, include_blank: t('.select_item'), required: true %>
  <%= f.input :level, placeholder: t('.level_placeholder') %>
  <%= f.input :description, label: t('.description') %>
  <%= f.submit :button, class: "btn btn-primary", value: t('.add') %>
<% end %>
