<div class="form-competency">
  <div id="error-messages">
  </div>
  <%= simple_form_for(user_competency, remote: true) do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-7">
    <%= f.association :competency, label: t('activerecord.models.competency'), collection: Competency.parent_competencies, as: :grouped_select, group_method: :child_competencies, include_blank: t('.select_item'), required: true, disabled: user_competency.id ? true : current_user.competencies.pluck(:id) %>
      </div>
      <div class="col-xs-12 col-sm-5">
      <label for="user_competency_level"><%= t 'activerecord.attributes.user_competency.level' %></label>
      <input id="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="<%= user_competency.level || '50' %>"/>
      <%= f.hidden_field :level, value: user_competency.level || '50' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label><%= t '.label_badges' %></label>
      </div>
      <div class="col-xs-12">
        <div class="badges-box">
          <% if user_competency.id %>
            <%= render 'badges/form_badge', competency: user_competency.competency %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      <%= f.input :description, label: t('.description') %>
      </div>
    </div>
    <div class="row">
      <div class="button-box">
      <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t '.close' %></button>
      <%= f.submit :button, class: "btn btn-primary", value: user_competency.id ? t('.update') : t('.add') %>
      </div>
    </div>
  <% end %>
    <div class="row">
      <div class="col-xs-12">
        <div class="experiences-box">
          <% if user_competency.id %>
            <label><%= t 'activerecord.models.experience' %></label>
            <%= render 'experiences/new_experience_form', experience: experience, user_competency: user_competency %>
            <% user_competency.experiences.each do |exp| %>
              <%= render 'experiences/experience_card', experience: exp %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>
