<div class="modal-header">
  <div class="modal-headbox">
    <div class="profile-picture">
    <% if user_competency.user.profile.photo? %>
      <%= cl_image_tag user_competency.user.profile.photo.path, class: 'avatar-xlarge' %>
    <% else %>
      <%= image_tag('anonymous.png', class: 'avatar-xlarge') %>
    <% end %>
    </div>
    <div class="profile-content">
      <h4 class="modal-title" id="myModalLabel"><%= user_competency.user.first_name %> <%= user_competency.user.last_name %></h4>
      <p><%= user_competency.user.profile.description %></p>
      </div>
      <div class="profile-rating">
        <p><%= '18' %>h données</p>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <p><em><%= '3' %> avis</em></p>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="clearfix">
    <div class="c100 p<%= user_competency.level %> small">
        <span><%= "#{user_competency.level}%" %></span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
  </div>
  <h4><%= user_competency.competency.name %></h4>
  <p><%= user_competency.description %></p>
  <div class="experience-content">
    <ul class="experience-list">
    <% user_competency.experiences.each do |experience| %>
      <li><strong><%= experience.year %></strong>&nbsp;&nbsp;<em><%= experience.company %></em></li>
      <li><p><%= experience.description %></p></li>
    <% end %>
    </ul>
  </div>
  <div class="review-content">

  </div>
</div>
<div class="modal-footer">
  <ul class="modal-menu">
    <li><i class="fa fa-times-circle" aria-hidden="true"></i></li>
    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
    <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></li>
  </ul>
</div>
