<div class="col-xs-12" id="user-competency-<%= user_competency.id %>">
  <div class="product">
   <div class="profile-picture">
    <% if user_competency.user.profile.photo? %>
      <%= cl_image_tag user_competency.user.profile.photo.path, class: 'avatar-xlarge' %>
    <% else %>
      <%= image_tag('anonymous.png', class: 'avatar-xlarge') %>
    <% end %>
  </div>
  <div class="clearfix profile-score">
    <div class="c100 p<%= user_competency.level %> small">
        <span><%= "#{user_competency.level}%" %></span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
  </div>
  <div class='product-body'>
    <h4><%= user_competency.competency.name %></h4>
    <p><%= user_competency.description %></p>
  </div>
    <ul class="list-inline product-controls">
      <li>
      <% if Favorite.where(user: current_user, user_competency: user_competency).empty? %>
        <li><a href="/" class="star" id="star-competency-<%= user_competency.id %>"><i class="fa fa-star"></i></a></li>
      <% else %>
        <li><a href="/" class="star" id="star-competency-<%= user_competency.id %>-favorite-<%= Favorite.find_by(user: current_user, user_competency: user_competency).id %>"><i class="fa fa-star favorite"></i></a></li>
      <% end %>
      </li>
      <li>
        <i class="fa fa-arrow-circle-right book-meeting" aria-hidden="true" id="<%= user_competency.competency.name %>"></i>
      </li>
    </ul>
  </div>
</div>

