<div class="col-xs-12 col-md-8 col-md-offset-2" id="user-competency-<%= user_competency.id %>">
  <div class="product">
    <div class="clearfix">
      <div class="c100 p<%= user_competency.level %> small">
          <span><%= "#{user_competency.level}%" %></span>
          <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
          </div>
      </div>
    </div>
    <div class='product-body'>
      <h3><%= user_competency.competency.name %></h3>
      <p><%= user_competency.competency.description %></p>
      <p><%= user_competency.description %></p>
    </div>
    <ul class="list-inline product-controls hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-star"></i></a></li>
      <li>
      <%= link_to edit_user_competency_path(user_competency), class: "edit_competency", remote: true do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      </li>
      <li>
      <%= link_to user_competency_path(user_competency), method: :delete, remote: true do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
      </li>
    </ul>
    <div class="book"><i class="fa fa-share" aria-hidden="true"></i></div>
  </div>
  <div class="col-xs-12">
  <div class="row experiences" id="experiences-<%= user_competency.id %>" style="display: none">
    <% user_competency.experiences.each do |experience| %>
      <%= render 'experiences/experience_card', experience: experience %>
    <% end %>
    <div class="col-xs-12 text-center">
      <%= link_to new_user_competency_experience_path(user_competency), class: "add-experience", remote: true do %>
      <i class="fa fa-plus-circle" style="font-size: 25px" aria-hidden="true"></i><p>Ajouter une expérience</p>
      <% end %>
    </div>
  </div>
  </div>
</div>
