<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4><%= t '.filter_title' %></h4>
      <%= simple_form_for :filters, { url: search_user_competencies_path, remote: true } do |f| %>
        <%= f.input :favorite, as: :boolean, checked_value: true, unchecked_value: false, label: t('.favorite_label') %>
        <%= f.input :competency_id, collection: Competency.parent_competencies, as: :grouped_select, group_method: :child_competencies, include_blank: t('.all_competencies'), required: false %>
        <%= f.input :level, required: false %>
        <%= f.input :communities, as: :check_boxes, collection: current_user.communities, wrapper: :vertical_radio_and_checkboxes, required: false %>
        <%= f.button :submit, t('.search'), class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-xs-9" id="list">
      <% @peer_competencies.each do |peer_competency| %>
        <%= render 'user_competency_search_card', user_competency: peer_competency, private_profile: false %>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){

      $('.product-body, .profile-picture, .profile-score').click(function(e){
        var number = $(this).parent().attr('id').match(/\d+/)[0];
        ajax_call(number);
      });

      $('.book-meeting').click(function(e){
        var number = $(this).parent().parent().parent().attr('id').match(/\d+/)[0];
        ajax_call(number);
      });

      function ajax_call(competency_id){
        $.ajax({
          type: "GET",
          url: "user_competencies/" + competency_id,
          success: function(data) {
            $('#myModal').modal('show');
          }
        });
      };

      $('.star').on('click', function(e){
        e.preventDefault();
        var index_competency = $(this).attr('id').match(/(\d+)/gi)[0];
        if ($(this).children().hasClass("favorite")){
          var index_favorite = $(this).attr('id').match(/(\d+)/gi)[1];
          $.ajax({
            type: "DELETE",
            url: "user_competencies/" + index_competency + "/favorites/" + index_favorite,
            success: function(data) {
              $('#user-competency-' + index_competency + ' .fa-heart').removeClass("favorite");
              $('#user-competency-' + index_competency + ' .star').attr("id", "star-competency-" + index_competency);
            }
          });
        } else {
          $.ajax({
            type: "POST",
            url: "user_competencies/" + index_competency + "/favorites",
            success: function(data) {
              $(this).children().addClass("favorite");
              $('#user-competency-' + index_competency + ' .fa-heart').addClass("favorite");
              $('#user-competency-' + index_competency + ' .star').attr("id", "star-competency-" + index_competency + "-favorite-" + index_new_favorite);
            }
          });
        };
      });
    });
  </script>
<% end %>
