<div class="col-xs-12" id="experience-card-<%= experience.id %>">
  <div class="col-xs-1">
    <p><strong><%= experience.year %></strong></p>
  </div>
  <div class="col-xs-4">
    <p><em><%= experience.company %></em></p>
  </div>
  <div class="col-xs-6">
    <p><%= experience.description %></p>
  </div>
  <div class="col-xs-1">
    <% if private_profile %>
      <%= link_to experience_path(experience), method: :delete, remote: true do %>
        <i class="fa fa-times" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
</div>
