<%= simple_form_for experience, url: user_competency_experiences_path(user_competency), method: :post, remote: true do |f| %>
<div class="flex-experience" id="form-experience">
  <div class="experience-year-box">
  <%= f.input :year, label: false, placeholder: t('.year_placeholder') %>
  </div>
  <div class="experience-company-box">
  <%= f.input :company, label: false, placeholder: t('.company_placeholder') %>
  </div>
  <div class="experience-description-box">
  <%= f.input :description, label: false, placeholder: t('.description_placeholder') %>
  </div>
  <div class="experience-action-box">
  <% if experience.id %>
    <%= link_to experience_path(experience), class: 'btn btn-danger', method: :delete, remote: true do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  <% else %>
    <%= f.submit :button, class: "btn btn-primary", value: '+' %>
  <% end %>
  </div>
</div>
<% end %>
