<div class="col-xs-12 form-content" id="form-content-<%= user_competency.id%>">
  <div id="error-messages">
  </div>
  <%= simple_form_for [user_competency, experience], remote: true do |f| %>
    <%= f.input :year, label: false, placeholder: t('.year_placeholder') %>
    <%= f.input :company, label: false, placeholder: t('.company_placeholder') %>
    <%= f.input :description, label: false, placeholder: t('.description_placeholder') %>
    <%= f.submit :button, class: "btn btn-primary", value: t('.add') %>
    <input type="button" value=<%= t ('.cancel') %> class="btn btn-danger remove-experience-form">
  <% end %>
</div>
