<div class="col-xs-12 col-md-3 text-center">
  <div class="community-card">
    <div class="community-picture text-center">
    <% if community.photo? %>
      <%= cl_image_tag community.photo.path, height: 150, width: 200, crop: :fit %>
    <% end %>
    </div>
    <%= link_to community_path(community) do %>
    <div class="community-name">
      <h3><%= community.name %></h3>
    </div>
    <% end %>
    <div class="badge-member-count">
      <%= community.memberships.where(status: "member").count %>
    </div>
    <div class="community-action">
      <% if current_user.memberships.where(community: community).empty? %>
        <i class="fa fa-plus-circle join-community" style="color: $blue" aria-hidden="true" id="join-community-<%= community.id %>"></i>
      <% else %>
        <% status = current_user.memberships.find_by(community: community).status %>
        <% if status == "member" %>
          <i class="fa fa-check-circle member" aria-hidden="true"></i>
        <% elsif status == "pending approval" %>
          <i class="fa fa-check-circle pending-approval" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-minus-circle blacklisted" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
